
  <section class="content container-fluid pad bg-color-main">	
    <div class="header-list">
      <div class="container pad">
        <div class="col-xs-12 pad">
          <p>INSURANCE</p>
        </div>
      </div>
    </div>
      
    <div class="container pad-1">
      <div class="col-xs-6 col-md-3 pad-2 insu-text text-center" (click)="OnClick(1)">
        <div class="sales-name-list pad text-left ripple-effect">
          <div class="col-xs-12 col-sm-12 col-md-12 pad two-line-pad text-center">
            <img src="assets/images/car-img.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 pad-1">
            <h5 class="slist-bg-new">PRIVATE CAR INSURANCE</h5>
          </div>
        </div>
      </div>
      
      <div class="col-xs-6 col-md-3 pad-2 insu-text" (click)="OnClick(2)">
        <div class="sales-name-list pad text-left ripple-effect">
          <div class="col-xs-12 col-sm-12 col-md-12 pad two-line-pad text-center">
            <img src="assets/images/two-wheeler.png" class="img-responsive">
          </div> 
          <div class="col-xs-12 col-sm-12 col-md-12 pad-1">
            <h5 class="slist-bg-new">TWO WHEELER INSURANCE</h5>
          </div>
        </div>
      </div>
      
      <div class="col-xs-6 col-md-3 pad-2 insu-text" (click)="OnClick(3)">
        <div class="sales-name-list pad text-left ripple-effect">
          <div class="col-xs-12 col-sm-12 col-md-12 pad two-line-pad text-center">
            <img src="assets/images/health-insurance-img.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 pad-1">
            <h5 class="slist-bg-new">HEALTH INSURANCE</h5>
          </div>
        </div>
      </div>
      
      <div class="col-xs-6 col-md-3 pad-2 insu-text" (click)="OnClick(4)">
        <div class="sales-name-list pad text-left ripple-effect">
          <div class="col-xs-12 col-sm-12 col-md-12 pad two-line-pad text-center">
            <img src="assets/images/life-insurance-icon.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 pad-1">
            <h5 class="slist-bg-new">LIFE INSURANCE</h5>
          </div>
        </div>
      </div>
    </div>	
      
    <div class="header-list header-pd">
      <div class="container pad">
        <div class="col-xs-12 pad">
          <p>LOANS</p>
        </div>
      </div>
    </div>
      
    <div class="container pad-1">
      <div class="col-xs-6 col-md-3 pad-2 insu-text" (click)="OnClick(5)">
        <div class="sales-name-list pad text-left ripple-effect">
          <div class="col-xs-12 col-sm-12 col-md-12 pad two-line-pad text-center">
            <img src="assets/images/home-loan-img.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 pad-1">
            <h5 class="slist-bg-new">HOME LOAN</h5>
          </div>
        </div>
      </div>
      
      <div class="col-xs-6 col-md-3 pad-2 insu-text" (click)="OnClick(6)">
        <div class="sales-name-list pad text-left ripple-effect">
          <div class="col-xs-12 col-sm-12 col-md-12 pad two-line-pad text-center">
            <img src="assets/images/personal-loan-img.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 pad-1">
            <h5 class="slist-bg-new">PERSONAL LOAN</h5>
          </div>
        </div>
      </div>
      
      <div class="col-xs-6 col-md-3 pad-2 insu-text" (click)="OnClick(7)">
        <div class="sales-name-list pad text-left ripple-effect">
          <div class="col-xs-12 col-sm-12 col-md-12 pad two-line-pad text-center">
            <img src="assets/images/loan-against-img.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 pad-1">
            <h5 class="slist-bg-new">LOAN AGAINST PROPERTY</h5>
          </div>
        </div>
      </div>	
                
      <div class="col-xs-6 col-md-3 pad-2 insu-text" (click)="OnClick(8)">
        <div class="sales-name-list pad text-left ripple-effect">
          <div class="col-xs-12 col-sm-12 col-md-12 pad two-line-pad text-center">
            <img src="assets/images/credit-card-img.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 pad-1">
            <h5 class="slist-bg-new">CREDIT CARD</h5>
          </div>
        </div>
      </div>
      
      <div class="col-xs-6 col-md-3 pad-2 insu-text" (click)="OnClick(9)">
        <div class="sales-name-list pad text-left ripple-effect">
          <div class="col-xs-12 col-sm-12 col-md-12 pad two-line-pad text-center">
            <img src="assets/images/balance-transfer.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 pad-1">
            <h5 class="slist-bg-new">BALANCE TRANSFER</h5>
          </div>
        </div>
      </div>
      
      <div class="col-xs-6 col-md-3 pad-2 insu-text" (click)="OnClick(10)">
        <a href="http://www.rupeeboss.com/other-loans?brokerId=">
        <div class="sales-name-list pad text-left ripple-effect">
          <div class="col-xs-12 col-sm-12 col-md-12 pad two-line-pad text-center">
            <img src="assets/images/other-loan-img.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 pad-1">
            <h5 class="slist-bg-new">OTHER LOAN</h5>
          </div>
        </div>
        </a>
      </div>
    </div>
      
    <div class="header-list header-pd">
       <div class="container pad">	
        <div class="col-xs-12 pad">
          <p>MORE SERVICES</p>
        </div>
       </div>	
    </div>
      
    <div class="container pad-1">	
      <div class="col-xs-6 col-md-3 pad-2 insu-text" (click)="OnClick(11)">
        <div class="sales-name-list pad text-left ripple-effect">
          <div class="col-xs-12 col-sm-12 col-md-12 pad two-line-pad text-center">
            <img src="assets/images/finpeace.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 pad-1">
            <h5 class="slist-bg-new">FIN-PEACE</h5>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-3 pad-2 insu-text" (click)="OnClick(12)">
        <div class="sales-name-list pad text-left ripple-effect">
          <div class="col-xs-12 col-sm-12 col-md-12 pad two-line-pad text-center">
            <img src="assets/images/pathalogy-tests.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 pad-1">
            <h5 class="slist-bg-new">HEALTH CHECK UP PLANS</h5>
          </div>
        </div>
      </div>
    </div>	
    <div class="clearfix mainpage-type-info"></div>
    </section>
    
  


