<!-- <div class="menu-wrap"> 
    <nav class="top-nav">
      <ul class="icon-list">
        <li class="menu-title">MAGIC FINMART</li>
        <li><a class="active" href="#"><img src="assets/images/home.png" class="img-responsive"/> HOME </a></li>
        <li><a href="#"><img src="assets/images/edit-profile.png" class="img-responsive"/> OFFLINE QUOTES </a></li>
        <li><a href="#"><img src="assets/images/my-business.png" class="img-responsive"/> MY BUSINESS </a></li>
        <li><a href="#"><img src="assets/images/refer-fba.png" class="img-responsive"/> REFER A FRIEND </a></li>
        <li><a href="#"><img src="assets/images/my-account.png" class="img-responsive"/> MY ACCOUNT</a></li>
        <li><a href="#"><img src="assets/images/down-arrow.png" class="img-responsive"/> DOWNSYNC </a></li>
        <li><a href="#"><img src="assets/images/subscription.png" class="img-responsive"/> MPS </a></li>
        <li><a href="#"><img src="assets/images/enrollment.png" class="img-responsive"/> POSP ENROLLMENT </a></li>
        <li><a href="#"><img src="assets/images/whats-new-icon.png" class="img-responsive"/> WHAT'S NEW </a></li>
        <li><a href="#"><img src="assets/images/help.png" class="img-responsive"/> HELP & FEEDBACK </a></li>
        <li><a href="#"><img src="assets/images/logout.png" class="img-responsive"/> LOGOUT </a></li>
      </ul>
    </nav>
    <input class="close-button" id="close-button" value="c"/>
  </div> -->

  <!-- <section class="content bg-color-main">
     
  </section> -->
  <!-- <header class="col-md-12 pad-blank main-header">
      <div class="col-md-6 header-left">
        <h4><img src="assets/images/logo-small.png" alt=""/> MAGIC FIN-MART</h4>
      </div>
      
      <div class="col-xs-12 col-md-5 pad header-right">
        <div class="main-page-header-list text-center">
          <div class="col-xs-3 pad list-border-head ripple-effect">
            <img src="assets/images/sales-material-icon.png" class="img-responsive">
            <p>SALES MATERIAL</p>
          </div>
          <div class="col-xs-3 pad list-border-head ripple-effect">
            <img src="assets/images/pending-cases-icon.png" class="img-responsive">
            <p>PENDING CASES</p>
          </div>
          <div class="col-xs-3 pad list-border-head ripple-effect">
            <img src="assets/images/knowledge-guru-icon.png" class="img-responsive">
            <p>KNOWLEDGE GURU</p> 
          </div>
          <div class="col-xs-3 pad ripple-effect">
            <div class="notification-icon"><p>1</p></div>
            <img src="assets/images/notification-icon.png" class="img-responsive">
            <p>NOTIFICATIONS</p>
          </div>
        </div>
      </div> 
      
      <div class="col-md-1 text-right">
        <button class="menu-button" (click)="openmenu()" id="open-button">O</button>
      </div>
    </header> -->
    <div class="menu-wrap"> 
      <nav class="top-nav">
        <ul class="icon-list">
          <li class="menu-title">MAGIC FINMART</li>
          <li><a class="active" href="#"><img src="assets/images/home.png" class="img-responsive"/> HOME </a></li>
          <li><a href="#"><img src="assets/images/edit-profile.png" class="img-responsive"/> OFFLINE QUOTES </a></li>
          <li><a href="#"><img src="assets/images/my-business.png" class="img-responsive"/> MY BUSINESS </a></li>
          <li><a href="#"><img src="assets/images/refer-fba.png" class="img-responsive"/> REFER A FRIEND </a></li>
          <li><a href="#"><img src="assets/images/my-account.png" class="img-responsive"/> MY ACCOUNT</a></li>
          <li><a href="#"><img src="assets/images/down-arrow.png" class="img-responsive"/> DOWNSYNC </a></li>
          <li><a href="#"><img src="assets/images/subscription.png" class="img-responsive"/> MPS </a></li>
          <li><a href="#"><img src="assets/images/enrollment.png" class="img-responsive"/> POSP ENROLLMENT </a></li>
          <li><a href="#"><img src="assets/images/whats-new-icon.png" class="img-responsive"/> WHAT'S NEW </a></li>
          <li><a href="#"><img src="assets/images/help.png" class="img-responsive"/> HELP & FEEDBACK </a></li>
          <li><a href="#"><img src="assets/images/logout.png" class="img-responsive"/> LOGOUT </a></li>
        </ul>
      </nav>
      <button class="close-button" id="close-button">C</button>
    </div>

    <header class="col-md-12 pad main-header">
			<div class="col-md-12 top-header">
				<div class="col-md-9 hidden-sm hidden-xs">
					<ul class="header-top">
						<li class="ripple-effect"><a href="#" class="">offline quotes</a></li>
						<li class="ripple-effect"><a href="#">my business</a></li>
						<li class="ripple-effect"><a href="#">refer a friend</a></li>
						<li class="ripple-effect"><a href="#">my account</a></li>
						<li class="ripple-effect"><a href="#">down sync</a></li>
						<li class="ripple-effect"><a href="#">mps</a></li>
						<li class="ripple-effect"><a href="#">posp enrollment</a></li>
						<li class="ripple-effect"><a href="#">whats new</a></li>
						<li class="ripple-effect"><a href="#">help & feedback</a></li>
					</ul>
				</div>
				<div class="col-md-3 text-right">Welcome  <strong class="welcome-text">Ghanshyam Prasad</strong> <i class="glyphicon glyphicon-off log-icon" aria-hidden="true"></i></div>
			</div>
			
			<div class="col-md-12 pad-blank">
				<div class="col-xs-10 col-md-6 header-left">
					<h4><img src="assets/images/finmart-logo.png" class="img-responsive" alt=""/> <span class="text-span"> HEALTH INSURANCE</span></h4>
				</div>
				<div class="col-xs-12 col-md-6 pad header-right">
					<div class="main-page-header-list text-center">
						<div class="col-xs-3 pad list-border-head ripple-effect">
							<img src="assets/images/sales-material-icon.png" class="img-responsive">
							<p>SALES MATERIAL</p>
						</div>
						<div class="col-xs-3 pad list-border-head ripple-effect">
							<img src="assets/images/pending-cases-icon.png" class="img-responsive">
							<p>PENDING CASES</p>
						</div>
						<div class="col-xs-3 pad list-border-head ripple-effect">
							<img src="assets/images/knowledge-guru-icon.png" class="img-responsive">
							<p>KNOWLEDGE GURU</p> 
						</div>
						<div class="col-xs-3 pad ripple-effect">
							<div class="notification-icon"><p>1</p></div>
							<img src="assets/images/notification-icon.png" class="img-responsive">
							<p>NOTIFICATIONS</p>
						</div>
					</div>
				</div> 
				<div class="col-md-1 text-right mobile-menu">
					<button class="menu-button" id="open-button">O</button>
				</div>
			</div>
			
			<div class="col-md-12 bottom-header">
				<div class="col-md-6 hidden-xs"></div>
				<div class="col-xs-12 col-md-6 email-align"><a href="mailto:support@finmart.in" class="support-email"><img src="assets/images/email-icon.png"/> support@finmart.in</a>  <a class="support-email"><img src="assets/images/phone-icon.png"/> +91 (022) 61486000</a></div>
			</div>
		</header>