<section class="content bg-color-main">
    <!-- <footer>
        <div class="row text-center">
          <div class="col-xs-12 footer">
            <p>copyright &copy 2018. <a href="http://www.magicfinmart.com/" target="_blank">www.magicfinmart.com</a></p>
          </div>
        </div>	
      </footer> -->
      <footer>
        <div class="row">
          <div class="col-xs-12 footer">
            <ul class="footer">
              <li class="ripple-effect"><a href="#">private car</a></li>
              <li class="ripple-effect"><a href="#">two wheeler</a></li>
              <li class="ripple-effect"><a href="#">health insurance</a></li>
              <li class="ripple-effect"><a href="#">life insurance</a></li>
              <li class="ripple-effect"><a href="#">home loan</a></li>
              <li class="ripple-effect"><a href="#">personal loan</a></li>
              <li class="ripple-effect"><a href="#">loan against property</a></li>
              <li class="ripple-effect"><a href="#">credit card</a></li>
              <li class="ripple-effect"><a href="#">balance transfer</a></li>
              <li class="ripple-effect"><a href="#">other loan</a></li>
              <li class="ripple-effect"><a href="#">fin-peace</a></li>
              <li class="ripple-effect"><a href="#">health check up plans</a></li>
            </ul>	
          </div>
        </div>
       </footer>
</section>