@media only screen and (min-width:1280px) and (max-width:1920px) {
    .img-floater-new {
        width: 30%;
    }
    /* main page */
    .notification-icon {
        top: 12%;
        right: 40%;
    }
    /* End main page */
}
@media only screen and (min-width:992px) and (max-width:1280px) { 
	.notification-icon {
		right: 38%;
	}
	.login-center {
		margin:0 auto;
		width: 50%;
	}
}
@media only screen and (max-width:1200px) {
	.border-quote {
		border-left: 0px solid #dbd9da;
	}	
}
@media only screen and (max-width:992px) { 
	.main-page-header-list {
		background-color: #009ee3;
	}
	.header-left {
		padding: 6px 10px 0 8px;
	}
	.header-right {
		margin-top: 0px;
	}
	.notification-icon {
		right: 38%;
	}
	.pad-blank {	
		padding-left:0;
		padding-right:0;
	}
	.login-center {
		margin:0 auto;
		width: 60%;
	}
	.insu-text {
		width: 50%;
	}
	.content {
		height:auto;
		/*position:initial;*/
	}
	.btn-details {
		width: 45%;
	}
	.btn-motor-quote {
		width: 45%;
	}
	.additional-info {
		display:block;
	}
	.info-add {
		display:none;
	}
	.loan-premium-motor h6 {
		width:100%;
    }
	.buy-now-motor .btn {
        width: 100%;
    }
	.loan-amt {
		padding: 13px 0px 18px 10px;
	}
	.border-quote {
		border-left:0px solid #dbd9da;
	}
}

@media only screen and (max-width:768px) {
	.main-page-header-list {
		background-color: #009ee3;
	}
	.header-left {
		padding: 6px 10px 0 8px;
	}
	.header-right {
		margin-top: 0px;
	}
	.notification-icon {
		right: 40%;
	}
	.pad-blank {	
		padding-left:0;
		padding-right:0;
	}
	.pad-blank-drop {	
		padding-left: 5px;
		padding-right: 5px;
	}
	.login-center {
		margin:0 auto;
		width: 100%;
	}
	.insu-text {
		width: 50%;
	}
	.content {
		height:auto;
		/*position:initial;*/	
	}
	.btn-details {
		width: 45%;
	}
	.btn-motor-quote {
		width: 45%;
	}
	.pad-desk {
		padding-left: 0px;
		padding-right: 0px;
	}
	.pad-quote {
		padding-left: 0px;
		padding-right: 0px;
	}
	.scaling-slider {
		border: 1px solid #d2d2d2;
	}
	.exist-bonus {
		position: relative;
	}
	.selectbox-highlight {
		left: 5px;
	}
	.occupation-sec-style {
		margin: -6px 0 1px 2px;
		font-size:12px;
	}
	.occupation-sec-style-modal-motor {
		font-size:11px;
		margin: -6px 0 0px 2px;
	}
	.regi-no {
		font-size:11px;
		margin: -6px 0 1px 2px;
	}
	.motor-occupation > a {
        margin-top: 12px;
    }
	.policyboss-motor > a {
		margin-top: 12px;
		width: 45%;
	}
	.legal-liability > a { 
		margin-top: 12px;
	}
	.legal-liability-modal > a {
		margin-top: 12px;
	}
	.anti-theft > a {
		margin-top: 12px;
	}
	.anti-theft-modal > a {
		margin-top: 12px;
	}
	.buy-sec {
		padding-left:10px;
		padding-right:10px;
	}
}

@media only screen and (max-width:640px) {
	.btn-details {
		width: 48%;
	}
	.btn-motor-quote {
		width: 48%;
	}
	.vehicle-enter-text {
		width: 8.5%;
	}
	.vehicle-enter-text1 {
		width: 13%;
	}
	.text-eg {
		padding-left: 28%;
	}
	footer {
		position: relative;
	}
}	

@media only screen and (max-width:480px) {
    .img-floater-new {
        width: 100%;
    }

    .img-floater-rent {
        width: 70%;
        padding: 2px 0 0 2px;
    }

    .top-info {
        padding: 28px;
    }

    .member-age-main {
        border-radius: 50%;
    }

    .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
        max-width: 100%;
        height: auto;
        display: inline;
    }

    .top {
        padding-bottom: 8px;
    }

    .anglerl {
        font-weight: bold;
        color: #32b4ff;
    }
    /* quotes-from-inrurers */
    .border-policy {
        border-bottom: 1px solid #c9c9c9;
    }

    .main-floater {
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 5px 5px 5px 5px;
        border-top: 1px solid #d2d4d4;
        border-left: 1px solid #d2d4d4;
        border-right: 1px solid #d2d4d4;
        border-bottom: 1px solid #d2d4d4;
        text-align: center;
        padding: 0 0 0 0;
        float: left;
        margin-bottom: 8px;
    }

        .main-floater h2 {
            color: #0281ca;
            text-align: left;
            font-size: 12px;
            margin: 0;
            padding: 8px 0 3px 0;
            font-weight: 600;
        }

        .main-floater p {
            color: #0281ca;
            text-align: left;
            font-size: 12px;
        }

    .floater-details {
        background: #f1f1f1;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #0281ca;
        border-bottom: 0px solid #d1d3d3;
        border-radius: 0px;
        float: left;
        border-radius: 0 0 4px 4px;
	}

        .floater-details h2 {
            background: #f1f1f1;
            color: #0281ca;
            text-align: center;
            font-size: 16px;
            padding: 10px 0 5px 0;
        }

        .floater-details h3 {
            background: #f1f1f1;
            color: #ff0000;
            text-align: center;
            font-size: 16px;
            margin: 0;
            padding: 10px 0 5px 0;
        }

        .floater-details p {
            background: #f1f1f1;
            color: #0281ca;
            text-align: center;
            font-size: 11px;
            margin: 0px;
            padding: 2px 0 9px 0;
        }

    .cart-bg {
        background: #005b9a;
        padding: 3px 0 5px 3px;
        border-radius: 0 0 4px 0;
    }

    .top-pad {
        padding-top: 5px;
    }

    .top-up-cover-box {
        width: 38px;
        height: 38px;
        border-radius: 5px;
        padding: 18% 0 0 0;
        border: 1px solid #9fa0a0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,cfd1d1+100 */
        background: #fafafa; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #fafafa 0%, #cfd1d1 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #fafafa 0%,#cfd1d1 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #fafafa 0%,#cfd1d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cfd1d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .scalling-left {
        width: 15%;
        float: left;
        position: relative;
        padding-top: 5px;
        padding-left: 1.8%;
    }

    .scalling {
        width: 70%;
        float: left;
        position: relative;
        padding: 0 12px 0 8px;
    }

    .nav-size {
        font-size: 12px;
        width: 30%;
        text-align: center;
        border: 0px solid #009ee3;
        margin: 2px 9px 0 2px;
        border-radius: 0px;
    }

    .heading-padding {
        /* padding: 15px 8px; */
        padding: 10px 2px 0 10px;
    }

    .main-floater-top-up {
        background: #fff;
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 5px 5px 5px 5px;
        border: 2px solid #d2d4d4;
        text-align: center;
        padding: 0 0 0 0;
        float: left;
    }

    .floater-top-up {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 2px 0 2px 0;
        float: left;
    }

    .main-floater-top-up h2 {
        color: #ff580e;
        text-align: left;
        font-size: 13px;
        margin: 0;
        padding: 5px 0 1px 5px;
        font-weight: 500;
        background: #f1f1f1;
        margin: 2px;
        width: 85%;
        border: 0px solid #d4d4d4;
    }

    .floater-top-up-pad {
        padding-top: 8px;
    }

    .compare-top {
        padding-top: 0px;
    }

    .logo-img-floater {
        padding-top: 2px;
        padding-left: 2px;
    }

    .button-nav-pills-new {
        width: 104%;
    }

    .border-journey {
        border-right: 1px solid #d2d4d4;
        padding-bottom: 2px;
    }

    .date-img-activity-modal {
        background: none;
        padding: 18px 0 0 0;
        background-position: 100% 0%;
        margin: -2px 0 0 0;
    }

    .loan-premium {
        width: 100%;
        text-align: left;
        padding: 6px 0px 0px 0px;
    }

    .buy-now {
        width: 100%;
        text-align: left;
        padding: 6px 0px 0px 0px;
    }

    .nav-size-dropdown {
        width: 94%;
        text-align: left;
        margin: 4px 5px 6px 5px;
        border-radius: 0px;
        float: left;
        font-weight: normal;
    }

    .cart-icon-img {
        padding: 20px 0 13px 0;
    }
    /* motor insurance */
    .main-page-header-list {
		background-color: #009ee3;
	}
	.main-page-header-list p {
		font-size: 10px;
	}
	footer {
		position: relative;
	}
	ul.footer li {
		font-size: 0.8em;
		width: 49%;
		text-align: left;
	}
	ul.footer li a {
		font-size: 12px;
	}
	.quote-with-addon-img {
        padding-top: 15px;
        padding-right: 0;
    }

    .summary-top {
        padding-top: 5px;
    }

    .add-on-cover-icon {
        left: 10px;
    }

    .vehicle-quote-with-addon-name {
        width: 100%;
        text-align: left;
        padding: 6px 0px 2px 0px;
        border-left: 1px solid #ccc;
        font-family: "Roboto-Regular", arial, sans-serif;
    }
	.btn-details {
		width: 100%;
	}
	.btn-motor-quote {
		width: 100%;
	}
	.input-span p {
        font-size: 13px;
    }
	.vehicle-enter-text {
		width:14%;
		font-size: 18px;
	}
	.vehicle-enter-text1 {
		width:18%;
		font-size: 18px;
	}
	.vehicle-registration {
		width: 100%;
	}
	ul.footer li {
		background: none;
	}
	.border-table-td p {
        font-size: 11px;
		padding: 7px 2px 7px 2px;
    }
	.border-table-td h5 {
        padding: 7px 2px 7px 2px;
    }
	.loan-amt {
		padding: 13px 0px 18px 0px;
	}
	.top-type-info-new {
		padding-bottom: 0px;
	}
	.top-type-info {
		padding-bottom: 0px;
	}
		/* end motor insurance */

    /* login */
    .login-field-icon {
        font-size: 20px;
        position: absolute;
        right: 8px;
        top: 8px;
        transition: all 0.25s ease 0s;
        padding-top: 2%;
    }

    .login-field-icon-1 {
        font-size: 20px;
        position: absolute;
        right: 38px;
        top: 10px;
        transition: all 0.25s ease 0s;
        padding-top: 2%;
    }
    /* end login */

    /* home loan */

    .prop-type-width {
        width: 28%;
    }

    .prop-type-width-new {
        width: 38%;
    }
    /* End home loan */

    /* main page */
    .notification-icon {
        top: 12%;
        right: 26%;
    }
    /* End main page */
    /* health assure */
    .health-checkup-share {
        width: 70%;
    }
    /* End health assure */

    /* life insurance */
    .life-3d-project {
        padding-top: 6%;
    }
     .img-width {
        width: 68%;
    }
    /* End life insurance */
	.logo-img {
		width: auto;
		margin-top: 7px;
	}
	.body-bg {
		background: url(/assets/images/collage.jpg) no-repeat;
		background-size: cover;
		background-color: #000;
	}
	.input-arrow-img {
		position:absolute;right: -13px;top:32%;z-index: 1;
	}
	.vehicle-regist-motor {
		width: 100%;
    }
    .mainpage-type-info {
        padding-bottom: 10px;
    }
}

@media only screen and (max-width:340px) {
    .vehicle-enter-text {
		width: 16%;
	}
	.vehicle-enter-text1 {
		width: 20%;
	}
	.text-eg {
		padding-left: 46%;
	}
	.motor-reg-no h5 {
		font-size: 13px;
	}
	.switch-outer > span {
		padding: 20px;
	}
	.top {
        padding-bottom: 8px;
    }

   

    .main-floater {
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 5px 5px 5px 5px;
        border-top: 1px solid #d2d4d4;
        border-left: 1px solid #d2d4d4;
        border-right: 1px solid #d2d4d4;
        border-bottom: 1px solid #d2d4d4;
        text-align: center;
        padding: 0 0 0 0;
        float: left;
        margin-bottom: 8px;
    }

        .main-floater h2 {
            color: #0281ca;
            text-align: left;
            font-size: 10px;
            margin: 0;
            padding: 8px 0 4px 0;
            font-weight: 800;
        }

        .main-floater p {
            color: #0281ca;
            text-align: left;
            font-size: 10px;
        }

    .floater-details {
        background: rgba(241, 241, 241, 0);
        width: 100%;
        height: 100%;
        text-align: center;
        color: #0281ca;
        border-bottom: 0px solid #d1d3d3;
        border-radius: 0px;
        float: left;
        border-radius: 0 0 4px 4px;
    }

        .floater-details h2 {
            background: #f1f1f1;
            color: #0281ca;
            text-align: center;
            font-size: 15px;
            padding: 10px 0 5px 0;
        }

        .floater-details h3 {
            background: #f1f1f1;
            color: #ff0000;
            text-align: center;
            font-size: 15px;
            margin: 0;
            padding: 10px 0 5px 0;
        }

        .floater-details p {
            background: #f1f1f1;
            color: #0281ca;
            text-align: center;
            font-size: 9.6px;
            margin: 0px;
            padding: 2px 0 9px 0;
        }

    .cart-bg {
        background: #005b9a;
        padding: 2px 0 3px 3px;
        border-radius: 0 0 4px 0;
    }

    .top-pad {
        padding-top: 5px;
    }

    .top-up-cover-box {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        padding: 21% 0 0 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,cfd1d1+100 */
        background: #fafafa; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #fafafa 0%, #cfd1d1 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #fafafa 0%,#cfd1d1 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #fafafa 0%,#cfd1d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cfd1d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .scalling-left {
        width: 14%;
        float: left;
        position: relative;
        padding-top: 5px;
        padding-left: 2%;
    }

    .scalling {
        width: 70%;
        float: left;
        position: relative;
        padding: 0 11px 0 13px;
    }

    .nav-size {
        font-size: 10px;
        width: 30%;
        text-align: center;
        border: 0px solid #009ee3;
        margin: 0px 8px 0 1px;
        border-radius: 0px;
        left: 0;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 5px;
    }

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 10px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        width: 100%;
        position: relative;
        text-align: left;
    }

    .heading-padding {
        /* padding: 15px 8px; */
        padding: 8px 3px 0 10px;
    }

    .box-style {
        margin-left: 12px;
        width: 92%;
        border: 1px solid #74c2e1 !important;
    }

    .main-floater-top-up {
        background: #ffffff;
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 5px;
        border: 2px solid #d2d4d4;
        text-align: center;
        padding: 0 0 0 0;
        float: left;
        border-bottom: 2px solid #d2d4d4;
    }

    .floater-top-up {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 0 0 2px 0;
        float: left;
    }

    .main-floater-top-up h2 {
        color: #ff0000;
        text-align: left;
        font-size: 12px;
        padding: 2px 0 2px 5px;
        font-weight: 500;
        background: #f1f1f1;
        margin-top: 4px;
        width: 85%;
        border: 0px solid #d4d4d4;
    }

    .img-member-icon {
        max-width: 100%;
    }

    .floater-top-up-pad {
        padding-top: 8px;
    }

    .compare-top {
        padding-top: 0px;
    }

    .logo-img-floater {
        padding-top: 2px;
        padding-left: 3px;
    }
}