<section class="content">
    <!-- Main content -->
		<!-- Tab Attribute -->
		<ul id="myTab" class="col-xs-12 col-md-12 nav nav-tab pad" style="border-bottom:none;">
			<li class="active col-xs-4 col-md-4 pad input-bg"><a href="#Property" class="ripple-effect" data-toggle="tab"></a><img src="assets/images/input-arrow.png" class="img-responsive input-arrow-img"/></li>
			<li class="col-xs-4 col-md-4 pad quote-bg"><a class="ripple-effect"></a><img src="assets/images/input-arrow.png" class="img-responsive input-arrow-img"/></li>
			<li class="col-xs-4 col-md-4 pad buy-bg"><a class="ripple-effect"></a></li>
		</ul>
		
		<div class="clearfix"></div>		
		<section class="container-fluid pad-blank">	
			<div class="col-md-12 pad-2">
				<!-- Tab Contents -->
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active top in" id="Property">
						 <!-- Main content -->
						<div class="col-xs-12 pad-1">
							<div class="vehicle-regist-motor">
								<div class="switch-outer">
									<span class="active">
										NEW VEHICLE
									</span>
									<label class="switch" style="pointer-events: auto;">
										<input type="checkbox">
										<div class="slider round"></div>
									</label>              
									<span>
										RENEWAL
									</span>
								</div>
							</div>
								 
							<div class="clearfix"></div>
								
							<div class="col-xs-12 pad text-center motor-reg-no">	
								<div class="input-span">	
									<p>ENTER VEHICLE REGISTRATION NUMBER</p>	
									<input class="inputs form-control-motor vehicle-enter-text" type="" maxlength="2"/>
									<input class="inputs form-control-motor vehicle-enter-text" type="" maxlength="2"/>
									<input class="inputs form-control-motor vehicle-enter-text" type="" maxlength="3"/>
									<input class="inputs form-control-motor vehicle-enter-text1" type="" maxlength="4"/>
									<!--<button class="btn btn-go" style="border-radius: 0px; height:66px; display: inline-block; float: right;"> Go!</button>-->
                  <div class="clearfix"></div>
                  <div class="pull-right text-eg">e.g.MH05BK1234</div>
								</div>
								<button class="btn btn-details ripple-effect">GET DETAILS</button>
								<h4>OR</h4>	
								<h5 class="text-center">Don't know the registration number? <a>CLICK HERE</a></h5>
							</div>
						</div>
					</div>
					
					<div class="tab-pane pad-1 fade" id="Appl">
							
					</div>
					
					<div class="tab-pane fade" id="CoAppl">
						<!-- panel -->
						<!-- panel close -->
					</div>
				</div>
			</div>
			<div class="clearfix top-type-info"></div>
		</section><!-- /.content -->
	</section><!-- ./wrapper -->