<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
	</head>
	
	<body>
		<h1>AngularJS Data Binding</h1>
		
		<h2>Two-Way Data Binding</h2>
		
		<div ng-app="" ng-init="quantity=1;price=10">
			<h2>Cost Calculator</h2>
			Quantity: <input type="number" ng-model="quantity">
			Price : <input type="number" ng-model="price">
			<p><b>Total in rupees</b> {{quantity * price}}</p>
			<!--<p>Total in rupees <span ng-bind="quantity * price"></span></p>
		</div>
		
	</body>
</html>