<section class="content">
		<!-- Tab Attribute -->
		<!-- <ul id="myTab" class="col-xs-12 col-md-12 nav nav-tab pad" style="border-bottom:none;">
			<li class="active col-xs-4 col-md-4 pad input-bg"><a href="#Property" class="ripple-effect" data-toggle="tab"></a><img src="assets/images/input-arrow.png" class="img-responsive input-arrow-img"/></li>
			<li class="col-xs-4 col-md-4 pad quote-bg"><a href="#Appl" class="ripple-effect" data-toggle="tab"></a><img src="assets/images/input-arrow.png" class="img-responsive input-arrow-img"/></li>
			<li class="col-xs-4 col-md-4 pad buy-bg"><a href="#CoAppl" class="ripple-effect" data-toggle="tab"></a></li>
		</ul> -->
			
			<div class="clearfix"></div>
			
			<section class="container-fluid pad-blank">	
				<!-- Tab Contents panel 1 start-->
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active top in" id="Property">
						<div class="col-xs-12 pad-2">
							<div class="vehicle-regist-motor">
								<div class="switch-outer">
									<span class="active" id="spnCompany">
										COMPANY
									</span>
									<label class="switch"  style="pointer-events:auto; margin-bottom:3px;">
										<input type="checkbox" id = "chkCompany" (ng-model)="IndividualCompany" (change)="onFilterChange($event)">
										<div class="slider round"></div>
									</label>              
									<span  id="spnIndividual">
										INDIVIDUAL
									</span>
								</div>
							 </div>	
							<div class="car-details"><P>VERIFY YOUR CAR DETAILS FOR <span id="spnCarNo">{{CarNo}}</span></P></div>
						</div>
						
						<div class="clearfix"></div>
						<form [formGroup]="PrivCardata" (ngSubmit)="fnGetQuotes(PrivCardata.value)">
							<div class="col-xs-12 pad-blank">
								
									<div class="form-group col-xs-12 pad-1">
										
											<div class="col-xs-6 col-md-4 pad-desk autocomplete">
													<div class="form-control height-box" id="divMakeAuto">
														<input type="text" id="txtVehiMake" (keyup)="search($event)"  value={{vehiMake}} (ng-model)="vehiMake" class="form-input-new" autocomplete="off">
														<span class="highlight"></span><span class="bar"></span>
														<label class="form-label-new">MAKE</label>
													</div>
													<!-- <ul  class="autocomplete-items">
														<li *ngFor="let make of VMakeLst | filterBy : vehiMake" (keypress)="selectmake($event);" (click)="fnPassToVM(make);">
																{{make}}
														</li>
													</ul> -->
													<input type="hidden" id="hdnVehiMakeSource" value="{{VMakeLst}}">
													<!-- <div id="divAutoMake" class="autocomplete-items" *ngIf="isMake">
														<div *ngFor="let make of VMakeLst | filterBy : vehiMake" (click)="fnPassToVM(make);">
															{{make}}
														</div> 
													</div> -->
												</div>
			
										<!-- <div class="col-xs-6 col-md-4 pad-desk">
											<div class="form-control height-box">
												<input type="text" (keydown)="search($event)" class="form-input-new">
												<span class="highlight"></span><span class="bar"></span>
												<label class="form-label-new">MAKE</label>
											</div>
										</div>
										<div *ngFor="let make of vehiMakelst">
											<h4>{{make?.makename}}</h4>
										</div> -->
										
										<div class="col-xs-6 col-md-4 pad-desk">
											<div class="form-control height-box">
												<input type="text" id="txtVehiModel" (keyup)="searchModel($event)" value={{vehiModel}} (ng-model)="vehiModel" class="form-input-new" autocomplete="off">
												<span class="highlight"></span><span class="bar"></span>
												<label class="form-label-new">MODEL</label>
											</div>
											<input type="hidden" id="hdnVehiModelSource" value="{{VModelLst}}">
											<!-- <div id="divAutoModel" class="autocomplete-items" *ngIf="isModel">
												<div *ngFor="let model of VModelLst | filterBy : vehiModel" (click)="fnPassToVModel(model);">
													{{model}}
												</div>
											</div> -->
										</div>
									
										<div class="col-xs-6 col-md-4 pad-blank-drop">
											<span class="selectbox-highlight">FUEL TYPE</span>
											<select class="form-control height-box-dropdown" style="padding: 6px 0px;" (ng-model)="Fueltype">
												<option value="1">FUEL TYPE</option>
												<option ng-selected="Fueltype" value="Petrol">PETROL</option>
												<option value="Diesel">DIESEL</option>
											</select>
										</div>
										
										<div class="col-xs-6 col-md-4 pad-blank-drop">
											<span class="selectbox-highlight">VARIANT</span>
											<select class="form-control height-box-dropdown" id="ddlVariant" (change)="variChange($event)" style="padding: 6px 0px;" (ng-model)="vehiVariant" >
													<option value="1">VARIANT</option>
													<option *ngFor="let variant of vehidetailslst" value="{{variant.Variant_ID}}">{{variant.Variant_Name}}</option>
												<!-- <option *ng-Options="let variant of vehidetailslst" value="variant.Variant_ID">{{variant.Variant_Name}}</option> -->
												<!-- <option value="1">VARIANT</option> *ngoptions="variant.Variant_Name for variant in vehidetailslst"
												<option value="2">SPORTZ</option>
												<option value="3">SPORTZ</option> -->
											</select>
										</div>
									
										<div class="col-xs-6 col-md-4 pad-desk">
											<div class="form-control height-box">
												<input type="text" class="form-input-new" value={{CubicCapacity}} (ng-model)="CubicCapacity" style="background-color: #f5f5f5;">
												<span class="highlight"></span><span class="bar"></span>
												<label class="form-label-new">cc</label>
												<div class="clear"></div>
											</div>
										</div>
										
										<div class="col-xs-6 col-md-4 pad-desk">
											<div class="form-control height-box">
												<input type="text" class="form-input-new" style="background-color: #f5f5f5;" formControlName="CngValue" name="CngValue">
												<span class="highlight"></span><span class="bar"></span>
												<label class="form-label-new">EXT. CNG / LPG VALUE</label>
												<div class="clear"></div>
											</div>
										</div>
										
										<div class="col-xs-6 col-md-4 pad-desk">
											<div class="form-control height-box">
												<input type='text' id='datepicker' class="date-img-activity"
												bsDatepicker [bsConfig] = "datePickerConfig" formControlName="RegDate" name="RegDate">
												<span>REG. DATE</span>
												<span class="bar"></span>
											</div>
										</div>
											
										<div class="col-xs-3 col-md-2 pad-blank-drop">
											<span class="selectbox-highlight">MFG MONTH</span>
											<select class="form-control height-box-dropdown" style="padding: 6px 0px;" (ng-model)="MfgMonth">
												<!-- <option value="1">MFG MONTH</option>
												<option value="2">JAN</option>
												<option value="3">MARCH</option> -->
												<option value="1">MFG MONTH</option>
												<option *ngFor="let i of months">{{i}}</option>
											</select>
										</div>
											
										<div class="col-xs-3 col-md-2 pad-blank-drop">
											<span class="selectbox-highlight">MFG YEAR</span>
											<select class="form-control height-box-dropdown" style="padding: 6px 0px;" (ng-model)="MfgYear">
												<option value="1">MFG YEAR</option>
												<!-- <option value="2">2005</option>
												<option value="3">2006</option> -->
												<option *ngFor="let i of years">{{i}}</option>
											</select>
										</div>
									
										<div class="col-xs-6 col-md-4 pad-desk">
											<div class="form-control height-box">
												<input type='text' class="date-img-activity" id='datepicker1'
												bsDatepicker [bsConfig] = "datePickerConfig" formControlName="ExpiryDate" name="ExpiryDate">
												<div class="clearer glyphicon glyphicon-remove-circle input-close-1"></div>
												<span>EXPIRY DATE</span>
												<span class="bar"></span>
											</div>
										</div>
										
										<div class="col-xs-6 col-md-4 pad-desk">
											<div class="form-control height-box motor-occupation">
												<span class="occupation-sec-style">CLAIM IN THIS YEAR</span>
												<a class="btn btn-default">YES</a>
												<a class="btn btn-default active">NO</a>
											</div>
										</div>
										
										<div class="col-xs-12 col-md-6 pad col-md-offset-2">
											<div class="loan-tenure">
													<div class="exist-bonus">
														<p>EXISTING NO CLAIM BONUS</p>
													</div>
													<div class="text-center col-xs-12 pad-1">
													<div class="scaling-slider">
													<!-- <rzslider rz-slider-model="slidervalue"
															rz-slider-options="slider"></rzslider> -->
														<!-- <input type="text" id="range1" value="" name="range">
														<input type="hidden" id="txttenure" > -->
														<span class="irs js-irs-0 irs-with-grid" id="SliderParent">
															<span class="irs">
																<span class="irs-line" tabindex="-1">
																	<span class="irs-line-left"></span>
																	<span class="irs-line-mid"></span>
																	<span class="irs-line-right"></span>
																</span>
															<span class="irs-min" style="visibility: hidden;">10</span>
															<span class="irs-max" style="visibility: visible;">50</span>
															<span class="irs-from" style="visibility: hidden;">0</span>
															<span class="irs-to" style="visibility: hidden;">0</span>
															<span class="irs-single" style="left: 0.198544%;">10</span>
														</span>
														<span class="irs-grid" style="width: 98.0146%; left: 0.89272%;">
															<span class="irs-grid-pol" style="left: 0%"></span>
															<span class="irs-grid-text js-grid-text-0" style="left: 0%; margin-left: -0.661813%;">10</span>
															<span class="irs-grid-pol small" ddata-left="8.333333333" style="left: 8.333333333%"></span>
															<span class="irs-grid-pol small" style="left: 4.166666667%"></span>
															<span class="irs-grid-pol small" style="left: 12.5%"></span>
															<span class="irs-grid-text js-grid-text-1" style="left: 12.5%; visibility: visible; margin-left: -0.661813%;">15</span>
															<span class="irs-grid-pol small" style="left: 20.833333333%"></span>
															<span class="irs-grid-pol small" style="left: 16.666666667%"></span>
															<span class="irs-grid-pol" style="left: 25%"></span>
															<span class="irs-grid-text js-grid-text-2" style="left: 25%; visibility: visible; margin-left: -0.661813%;">20</span>
															<span class="irs-grid-pol small" style="left: 33.333333333%"></span>
															<span class="irs-grid-pol small" style="left: 29.166666667%"></span>
															<span class="irs-grid-pol" style="left: 37.5%"></span>
															<span class="irs-grid-text js-grid-text-3" style="left: 37.5%; visibility: visible; margin-left: -0.661813%;">25</span>
															<span class="irs-grid-pol small" style="left: 45.833333333%"></span>
															<span class="irs-grid-pol small" style="left: 41.666666667%"></span>
															<span class="irs-grid-pol" style="left: 50%"></span>
															<span class="irs-grid-text js-grid-text-4" style="left: 50%; margin-left: -0.661813%;">30</span>
															<span class="irs-grid-pol small" style="left: 58.333333333%"></span>
															<span class="irs-grid-pol small" style="left: 54.166666667%"></span>
															<span class="irs-grid-pol" style="left: 62.5%"></span>
															<span class="irs-grid-text js-grid-text-5" style="left: 62.5%; visibility: visible; margin-left: -0.661813%;">35</span>
															<span class="irs-grid-pol small" style="left: 70.833333333%"></span>
															<span class="irs-grid-pol small" style="left: 66.666666667%"></span>
															<span class="irs-grid-pol" style="left: 75%"></span>
															<span class="irs-grid-text js-grid-text-6" style="left: 75%; visibility: visible; margin-left: -0.661813%;">40</span>
															<span class="irs-grid-pol small" style="left: 83.333333333%"></span>
															<span class="irs-grid-pol small" style="left: 79.166666667%"></span>
															<span class="irs-grid-pol" style="left: 87.5%"></span>
															<span class="irs-grid-text js-grid-text-7" style="left: 87.5%; visibility: visible; margin-left: -0.661813%;">45</span>
															<span class="irs-grid-pol small" style="left: 95.833333333%"></span>
															<span class="irs-grid-pol small" style="left: 91.666666667%"></span>
															<span class="irs-grid-pol" style="left: 100%"></span>
															<span class="irs-grid-text js-grid-text-8" style="left: 100%; margin-left: -0.661813%;">50</span>
														</span>
														<span class="irs-bar" style="left: 0.99272%; width: 0%;"></span>
														<span class="irs-bar-edge"></span>
														<span class="irs-shadow shadow-single" style="display: none;"></span>
														<span class="irs-slider single" id="draggable" style="left: 0%;"></span>
													</span>
													<input type="text" id="range1" value="" name="range" class="irs-hidden-input" readonly="">
														<input type="hidden" id="txttenure" value={{ClaimBonus}}>
													</div>
												</div>
											</div>
										</div>
									</div><!--End form group-->
									
									<div class="clearfix"></div>
									
									<div class="form-group col-xs-12 pad-1">
										<div class="col-xs-6 col-md-4 pad-desk" autocomplete>
											<div class="form-control height-box" id = "divRtoauto">
												<input type="text" id ="txtRto" class="form-input-new"  value={{Rto}} (ng-model)="Rto" class="form-input-new" autocomplete="off">
												<span class="highlight"></span><span class="bar"></span>
												<label class="form-label-new">RTO</label>
												<!-- <div id="divAutoRto" class="autocomplete-items" *ngIf="isRto" >(keyup)= "searchCityVehicle($event)"
													<div *ngFor="let rto of RtoList | filterBy : Rto" (click)="fnPassToRto(rto)">
													{{rto}}
												</div> 
											</div> -->
												<div class="clear"></div>
											</div>
										</div>
										
										<div class="col-xs-6 col-md-4 pad-blank-drop">
											<span class="selectbox-highlight">PRESENT INSURER</span>
											<select class="form-control height-box-dropdown select-disabled" style="padding: 6px 0px;" formControlName="PresentInsurer" name="PresentInsurer">
												<option value="1">PRESENT INSURER</option>
												<!-- <option value="2">BHARATI AXA</option>
												<option value="2">BHARATI AXA</option> -->
												<option *ngFor="let i of presentInsurer" value="{{i.id}}">{{i.name}}</option>
											</select>	
										</div>
									
										<div class="col-xs-6 col-md-4 pad-desk">
											<div class="form-control height-box">
												<input type="text" class="form-input-new" formControlName="CustomerName" name="CustomerName">
												<span class="highlight"></span><span class="bar"></span>
												<label class="form-label-new">CUSTOMER NAME</label>
												<div class="clear"></div>
											</div>
										</div>
										
										<div class="col-xs-6 col-md-4 pad-desk">
											<div class="form-control height-box">
												<input type="number" class="form-input-new" formControlName="Mobile" name="Mobile" >
												<span class="highlight"></span><span class="bar"></span>
												<label class="form-label-new">MOBILE</label>
												<div class="clear"></div>
											</div>
										</div>
									</div><!--End form group-->
								
								<div class="col-xs-12 text-center pad-2">
									<button class="btn btn-motor-quote ripple-effect">GET QUOTE</button>
								</div>	
							</div>	
					</form>
						<div class="clearfix top-type-info"></div>
					</div><!-- Tab Contents panel 1 close-->
				</div>
				<div class="clearfix top-type-info"></div>
      </section><!-- /.content -->
      
   </section>